name: Run QRM Assignment

on:
  workflow_dispatch:    # allows you to trigger it manually from the Actions tab

jobs:
  run-r-script:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Install system dependencies for copula
        run: |
          sudo apt-get update
          sudo apt-get install -y libgmp-dev libmpfr-dev

      - name: Install R packages
        run: |
          Rscript -e "install.packages(c(
            'gmp',
            'Rmpfr',
            'copula',
            'readxl',
            'dplyr',
            'lubridate',
            'ggplot2',
            'tidyr',
            'MASS',
            'patchwork',
            'scales',
            'here'
          ), repos = 'https://cloud.r-project.org')"

      - name: Run QRM_Assigment.R
        run: |
          Rscript QRM_Assigment.R
